extends layout

block content
  h1= title
  form
    input(id="field" type="text" placeholder="enter a twitter user ..." name="user")
    button(id="follow")="follow"
    button(id="unfollow")="unfollow"
  button= "reset followed users"
